.form-sections {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.left-section, .right-section {
    width: 48%;
}

.password-center {
    text-align: center;
    margin-top: 20px;
}

.password-center .form-control {
    width: 50%; /* Adjust width as needed */
    margin: 0 auto;
}

input.danger{
    border-color:  red;
}

p.danger{
    color: red;
    button:disabled{
        opacity: 0.35;
    }
}
